/* Reset: http://yuilibrary.com/yui/docs/cssreset/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.cf { *zoom: 1; }

/* Natural box layout model to all elements: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* Adjustment for 3rd party content that doesn't work with border-box */
.contentBoxSized { box-sizing: content-box; }

/* Example styles - you should make your own here... */
html,body { background: #f3f3f3; font-family: sans-serif; height: 100%; }
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 1em }
h5 { font-size: 0.83em }
h6 { font-size: 0.67em }

/* Center content wrappers: http://www.thesitewizard.com/css/center-div-block.shtml */
.cw { width: 62em; margin-left: auto ; margin-right: auto; padding: 0 2em; }

header 	{ padding: 1.25em 0; box-shadow: 0 0 0.25em #999; margin-bottom: 1em; background: #fff }

#content { background: #f3f3f3; }
#content .cw { background: #fff; padding: 1.2em 1em; }
#footer { background: #ccc; padding: 1.2em 0; }

/* Arbritary default styles. TODO: please make these better */
h2 { margin-bottom: 1em }
label { width: 8em; display: inline-block; text-align: right; padding-right: 0.5em; line-height: 2em }
input { line-height: 1.2em; padding: 0.1em 0.5em; border-radius: 4px; border: 1px solid #eee;}
button { font-size: 1em; line-height: 1.2em; padding: 0.25em 1em; border-radius: 4px; border: 1px solid #eee; cursor: pointer; }
button.positive { color: #fff; background: #1a2; margin-top: 0.5em;}
.indented { margin-left: 8em; }
.invalid { color: #f00; }
.pageHeader { margin-left: 5.3em; }
.intro { background: #21212c; color: #fff; height: 16em; text-align: center; padding-top: 4em; border-radius: 1px; }
.introText { font-size: 2.5em; margin-bottom: 1em;}
.installButton { transition: all 0.3s linear; font-size: 0.8em; letter-spacing: 0.2em;  border: 4px solid #070; color: #fff; border-radius: 1px; background: transparent; padding: 1em 3em; text-transform: uppercase; }
.installButton:hover { background: #070; border-radius: 0.5em; }