/* Reset: http://yuilibrary.com/yui/docs/cssreset/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.cf { *zoom: 1; }

/* Natural box layout model to all elements: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* Adjustment for 3rd party content that doesn't work with border-box */
.contentBoxSized { box-sizing: content-box; }

/* Example styles - you should make your own here... */
html,body { background: #f3f3f3; font-family: sans-serif; height: 100%; }
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 1em }
h5 { font-size: 0.83em }
h6 { font-size: 0.67em }

/* Center content wrappers: http://www.thesitewizard.com/css/center-div-block.shtml */
.cw { width: 60em; margin-left: auto ; margin-right: auto; }

header 	{ padding: 1.25em 0 1em; margin-bottom: 1em; background: #eea000 }
.fixed-header>header { position: fixed; z-index: 10; width: 100%; border-bottom: 2px solid #000; padding: 0; top: 0; }
body.fixed-header { margin-top: 4em; }

header>div,
header a { line-height: 1.5em; height: 1.5em; }
header div.logo { display: block; float: left; line-height: 4em; margin: 0.4em 0 -0.4em }
header nav { margin-left: 4em; display: block }
header nav.left { float: left }
header nav.right { float: right; text-align: right; }
header nav.right ul li a { margin-left: 2em; margin-right: 0; padding: 0 0 2em 0; }
header nav ul li { position: relative; display: inline-block; float: left; }
header nav ul li a {margin-right: 2em; display: block; padding: 0 2em 0 0; color: #000; font-size: 0.7em; height: 5.71em; letter-spacing: 1.5px; line-height: 5.71em; text-decoration: none; text-transform: uppercase; }
header nav ul li a:hover { color: #fff }
header nav ul li a:last-child { margin-right: 0 }

#content { background: #f3f3f3; }
#content .cw { background: #fff; padding: 1.2em 1em; }
#footer { background: #ccc; padding: 1.2em 0; }

/* Arbritary default styles for the miso site. */
/* TODO: please make these better! */
h2 { margin-bottom: 1em }
label { width: 8em; display: inline-block; text-align: right; padding-right: 0.5em; line-height: 2em }
input { line-height: 1.2em; padding: 0.1em 0.5em; margin-right: 0.5em; border-radius: 4px; border: 1px solid #eee;}
button { font-size: 1em; line-height: 1.2em; padding: 0.25em 1em; border-radius: 4px; border: 1px solid #888; cursor: pointer; }
button.positive { color: #fff; background: #1a2; margin-top: 0.5em;}

.indented { margin-left: 8em; }
.invalid { color: #f00; }
.pageHeader { margin-left: 5.3em; }
.intro { background: #21212c url(/img/background_texture.jpg); color: #fff; height: 20em; text-align: center; padding-top: 3em; border-radius: 2px; margin: -1em 0 1em 0; background-size: 33%; }
.introText { font-size: 2.5em; margin: 1em auto; font-weight: bold; width: 24em; height: 1.5em; }
.introText span {display: inline-block; height: 2.5em; opacity: 0; transform: scale(15); }
.installButton { transition: all 0.3s linear; font-size: 0.8em; letter-spacing: 0.2em;  border: 4px solid #eea000; color: #fff; border-radius: 1px; background: transparent; padding: 1em 3em; text-transform: uppercase; }
.installButton:hover { background: #eea000 }
pre.javascript { margin: 1em 0; padding: 1em; background: #333; color: #fff; border-radius: 2px}
#misoAttachmentNode { padding-top: 1em; }