/* Reset: http://yuilibrary.com/yui/docs/cssreset/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.cf { *zoom: 1; }

/* Natural box layout model to all elements: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* Adjustment for 3rd party content that doesn't work with border-box */
.contentBoxSized { box-sizing: content-box; }

/* Example styles - you should make your own here... */
html,body { background: #f3f3f3; font-family: sans-serif; height: 100%; }
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 1em }
h5 { font-size: 0.83em }
h6 { font-size: 0.67em }

/* Center content wrappers: http://www.thesitewizard.com/css/center-div-block.shtml */
.cw { width: 64em; padding: 0 2em; margin-left: auto ; margin-right: auto; }

header 	{ padding: 1.25em 0 1em; margin-bottom: 1em; background: #eea000 }
.fixed-header>header { position: fixed; z-index: 10; width: 100%; border-bottom: 2px solid #000; padding: 0; top: 0; }
body.fixed-header { margin-top: 4em; }

header>div,
header a { line-height: 1.5em; height: 1.5em; }
header div.logo { display: block; float: left; line-height: 4em; margin: 0.4em 0 -0.4em }
header nav { margin-left: 4em; display: block }
header nav.left { float: left }
header nav.right { float: right; text-align: right; }
header nav.right ul li a { margin-left: 2em; margin-right: 0; padding: 0 0 2em 0; }
header nav ul li { position: relative; display: inline-block; float: left; }
header nav ul li a {margin-right: 2em; display: block; padding: 0 2em 0 0; color: #000; font-size: 0.7em; height: 5.71em; letter-spacing: 1.5px; line-height: 5.71em; text-decoration: none; text-transform: uppercase; }
header nav ul li a:hover { color: #fff }
header nav ul li a:last-child { margin-right: 0 }

#content { background: #f3f3f3; }
#content .cw { background: #fff; padding: 1.2em 1em; }
#footer { background: #333; color: #fff; padding: 1.2em 0; margin-top: 2em;  min-height: 3em;}

/* Arbritary default styles for the miso site. */
/* TODO: please make these better! */
h2 { margin: 1em 0 }
label { width: 8em; display: inline-block; text-align: right; padding-right: 0.5em; line-height: 2em }
input { line-height: 1.2em; padding: 0.1em 0.5em; margin-right: 0.5em; border-radius: 4px; border: 1px solid #eee;}
button,
.button { font-size: 1em; line-height: 1.2em; padding: 0.25em 1em; border-radius: 4px; border: 1px solid #fff; cursor: pointer; text-decoration: none}
a.button { margin-top: 0.5em; display: inline-block;}
button.positive,
.button.positive { color: #fff; background: #1a2; margin-top: 0.5em;}
button.negative,
.button.negative { color: #fff; background: #a12; margin-top: 0.5em; margin-left: 1em;}

ul.dotList { list-style: disc; margin: 1em; }
ul.dotList li { margin: 0.25em 0.5em; }

.indented { margin-left: 8em; }
.invalid { color: #f00; }
.pageHeader { margin-left: 5.3em; }

.intro { background: #21212c url(/img/background_texture.jpg); color: #fff; height: 32em; text-align: center; padding-top: 3em; border-radius: 2px; margin: -1em 0 1em 0; background-size: 33%; min-width: 64em; }
.introText { font-size: 2.5em; margin: 0 auto 0.66em; font-weight: bold; width: 24em; height: 1.5em; }
.demoImg { margin-bottom: 3em; }
#demoImg { width: 500px; height: 233px; margin-left: 58px; border: 4px solid #ddd; border-radius: 2px; }
.replayButton { border: 1px solid #fff; bottom: 15px; font-size: 0.8em; opacity: 0.25; padding: 0.2em 0.5em; position: relative; right: 64px; border-radius: 3px }
.replayButton:hover { opacity: 1; cursor: pointer;}

.introText span {display: inline-block; height: 2.5em; opacity: 0; transform: scale(15); }
.installButton { transition: all 0.3s linear; font-size: 0.8em; letter-spacing: 0.2em;  border: 4px solid #eea000; color: #fff; border-radius: 1px; background: transparent; padding: 1em 3em; text-transform: uppercase; text-decoration: none }
.installButton:hover { background: #eea000 }
pre.javascript { margin: 1em 0; padding: 1em; background: #333; color: #fff; border-radius: 2px}
#misoAttachmentNode { padding-top: 1em; }

.frameworks { height: 14em; padding: 2em 0 }
.frameworks .fwcontainer { margin-left: auto; margin-right: auto; width: 54em; height: 4em; }
.frameworks .fw { width: 12em; padding: 5em 4em; background: #333; border: 1px solid #000; border-radius: 4px; display: inline-block; }
.frameworks .fwLink { margin-right: 2em }
.frameworks .fwLink:last-child { margin-right: 0 }
.frameworks .fwcontainer .fw { background-position: 34px 21px; background-repeat: no-repeat; }
.frameworks .fwcontainer .mithril {background-image: url(/img/logo_mithril.png);}
.frameworks .fwcontainer .express {background-image: url(/img/logo_express.png);}
.frameworks .fwcontainer .browserify {background-image: url(/img/logo_browserify.png);}
.frameworks .fwcontainer .nodemon {background-image: url(/img/logo_nodemon.png);}


.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 		{ font-weight: bold; margin: 1em 0; }
.doc h1 		{ margin-top: 0.5em; }

/* Account for header by weird margin/padding/top/height */
/* .doc a.anchor 	{ color: #000; display: block; height: 6.41em; margin-bottom: -5.34em; padding-top: 5.6em; position: relative; text-decoration: none; top: -5.6em; } */
.doc a.anchor 	{ color: #000; text-decoration: none }
.doc a.anchor span {}

.doc 			{ line-height: 1.33em }
.doc pre 		{ background: #333; padding: 1em 2em; margin: 1.5em 0; color: #fff; }
.doc table 		{ margin: 1em 0; border-collapse: collapse; border-spacing: 0; border-color: gray; background: #fbfbfb; }
.doc table th,
.doc table td 	{ padding: 0.33em 0.66em; border: 1px solid #ddd; }
.doc table th 	{ font-weight: bold; text-align: center }

.doc ul 		{ list-style: disc; margin: 1em; }
.doc ul li 		{ margin: 0.25em 0.5em; }

.doc blockquote { border-left: 4px solid #eea000; padding: 0.5em 0 0.5em 1em; background: #fff; margin: 1em 0; }


/* loader */
#loader 			{ font-size: 0.8em; display: none; position: absolute; z-index: 10; width: 4em; height: 4em; left: 50%; top: 0.5em; margin: 0 0 0 -2em; border: 1em solid #fff; border-right-color: transparent; border-radius: 50%; box-shadow: 0 0 3em 0.5em #eee; -webkit-animation: spin 1s linear infinite; -moz-animation: spin 1s linear infinite; -ms-animation: spin 1s linear infinite; -o-animation: spin 1s linear infinite; animation: spin 1s linear infinite; }
/* disabled - change .loading #loader to display: block; */
.loading #loader 	{ display: none; }
@-webkit-keyframes spin {from { -webkit-transform: rotate(0deg); } 50%  { -webkit-transform: rotate(180deg); } to   { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {from { -moz-transform: rotate(0deg); } 50%  { -moz-transform: rotate(180deg); } to   { -moz-transform: rotate(360deg); } }
@-ms-keyframes spin {from { -ms-transform: rotate(0deg); } 50%  { -ms-transform: rotate(180deg); } to   { -ms-transform: rotate(360deg); } }
@-o-keyframes spin {from { -o-transform: rotate(0deg); } 50%  { -o-transform: rotate(180deg); } to   { -o-transform: rotate(360deg); } }
@keyframes spin {from { transform: rotate(0deg); } 50%  { transform: rotate(180deg); } to   { transform: rotate(360deg); } }



