html, body {height: 100%; }
html, body, #misoAttachmentNode {margin: 0; padding: 0; background: #fff; font-size: 62.5%; min-height: 100%; }

.menu-active .miso-header,
.menu-active #misoAttachmentNode,
.menu-active .miso-footer {transform: translate3d(-25rem,0,0); }

.miso-header, #misoAttachmentNode, .miso-footer {-webkit-transition: -webkit-transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; }
.miso-header {-webkit-backface-visibility: hidden; backface-visibility: hidden; color: #fff; display: block; height: 5rem; line-height: 5rem; font-size: 2rem; left: 0; min-width: 25rem; position: fixed; right: 100%; top: 0; width: 100%; z-index: 11; padding: 0 1rem; background: #125688; box-shadow: 0 0 1.5rem #333}
.miso-header .button-menu {position: absolute; top: 1rem; right: 1rem; color: #fff; padding: 0.5rem; line-height: 1rem; display: block; }
/* TODO: complete back-button functionality; */
.miso-header .button-back {display: none; padding-right: 1rem; }

.miso-nav {-webkit-overflow-scrolling: touch; -webkit-backface-visibility: hidden; backface-visibility: hidden; background: #404040; height: 100%; margin: 0; font-size: 1.8rem; color: #fff; overflow: hidden; overflow-y:scroll; padding: 0 0 8.8rem; position: fixed; right: 0; display: block; width: 25rem; }
.miso-nav li {background: #333; padding: 1rem 2rem; border-bottom: 1px solid #404040; }
.miso-nav li:last-child {border-bottom: 0; }
.miso-nav a {color: #fff; text-decoration: none; }
.nav-link i {margin-right: 1rem; }

.menu-active .miso-nav {overflow-y: scroll }

#misoAttachmentNode {font-size: 1.6rem; position: relative; width: 100%; padding-top: 5rem; background: #fff; }




